:root {
  --blue: #0049e8e7;
  --grey: #808080;
  --orange: #ff7200;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2.8rem;
  --content-font-size: 1.6rem;
  --text-shadow: 10px 10px 25px #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .portfolio__section {
    border-bottom: 0.2rem solid var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto;
    padding: 15rem 0 3.5rem;
    width: 80%;
  }
  .portfolio__section .portfolio__header .portfolio__heading {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
  }
  .portfolio__section .portfolio__content_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 4rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__content {
    font-size: var(--content-font-size);
    line-height: 2.4rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__content a {
    color: var(--orange);
    font-size: var(--content-font-size);
    line-height: 2.4rem;
    text-decoration: none;
  }
  .portfolio__section .portfolio__content_container .portfolio__content a:hover {
    color: var(--blue);
    text-shadow: var(--text-shadow);
  }
  .portfolio__section .portfolio__content_container .portfolio__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2rem 0;
    text-align: center;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__heading {
    font-family: var(--heading-font-family);
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: center;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__img {
    height: auto;
    width: 25rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption a {
    color: var(--orange);
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    text-decoration: none;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption a:hover {
    color: var(--blue);
    text-shadow: var(--text-shadow);
  }
}

@media screen and (min-width: 480px) {
  .portfolio__section {
    padding-top: 5rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__img {
    height: auto;
    width: 35rem;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__section {
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
  .portfolio__section .portfolio__header .portfolio__heading {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption a {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .portfolio__section .portfolio__content_container .portfolio__content,
  .portfolio__section .portfolio__content_container .portfolio__content a {
    font-size: 1.4rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project {
    padding: 1rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption {
    width: 90%;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption a {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__section {
    padding-top: 15rem;
  }
  .portfolio__section .portfolio__header .portfolio__heading {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__content,
  .portfolio__section .portfolio__content_container .portfolio__content a {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects {
    padding-top: 2rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__heading {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption {
    width: 80%;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__caption a {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 1536px) {
  .portfolio__section .portfolio__header .portfolio__heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__content,
  .portfolio__section .portfolio__content_container .portfolio__content a {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
  .portfolio__section .portfolio__content_container .portfolio__projects .portfolio__project .project__heading {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 1700px) {
  .portfolio__section {
    width: 70%;
  }
}
/*# sourceMappingURL=Portfolio.css.map */