:root {
  --blue: #0049e8e7;
  --grey: #808080;
  --orange: #ff7200;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2.8rem;
  --content-font-size: 1.6rem;
  --text-shadow: 10px 10px 25px #000;
}

$height: var(--height);
$blue: var(--blue);
$grey: var(--grey);
$lightgrey: var(--lightgrey);
$orange: var(--orange);
$white: var(--white);
$default-font-family: var(--default-font-family);
$default-font-size: var(--default-font-size);
$heading-font-family: var(--heading-font-family);
$heading-font-size: var(--heading-font-size);
$content-font-size: var(--content-font-size);
$box-shadow: var(--box-shadow);
$text-shadow: var(--text-shadow);

* {
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: $default-font-size;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .portfolio__section {
    border-bottom: 0.2rem solid $grey;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 15rem 0 3.5rem;
    width: 80%;
    .portfolio__header {
      .portfolio__heading {
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        line-height: 4.2rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .portfolio__content_container {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding-top: 4rem;
      .portfolio__content {
        font-size: $content-font-size;
        line-height: 2.4rem;
        a {
          color: $orange;
          font-size: $content-font-size;
          line-height: 2.4rem;
          text-decoration: none;
        }
        a:hover {
          color: $blue;
          text-shadow: $text-shadow;
        }
      }
      .portfolio__projects {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .portfolio__project {
          flex: 1;
          padding: 2rem 0;
          text-align: center;
          .project__heading {
            font-family: $heading-font-family;
            font-size: 1.8rem;
            padding: 1rem 0;
            text-align: center;
          }
          .project__img {
            height: auto;
            width: 25rem;
          }
          .project__caption,
          .project__caption a,
          .project__caption b {
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
          .project__caption {
            padding-top: 1rem;
            text-align: left;
            a {
              color: $orange;
              text-decoration: none;
            }
            a:hover {
              color: $blue;
              text-shadow: $text-shadow;
            }
            b {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .portfolio__section {
    padding-top: 5rem;
    .portfolio__content_container {
      .portfolio__projects {
        .portfolio__project {
          .project__img {
            height: auto;
            width: 35rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio__section {
    padding-top: 10rem;
    padding-bottom: 2rem;
    .portfolio__header {
      .portfolio__heading {
        font-size: 2.6rem;
        line-height: 2.6rem;
      }
    }
    .portfolio__content_container {
      .portfolio__projects {
        flex-flow: row wrap;
        .portfolio__project {
          .project__heading {
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
          .project__caption,
          .project__caption a,
          .project__caption b {
            font-size: 1rem;
            line-height: 1.4rem;
          }
          .project__caption {
            margin: 0 auto;
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .portfolio__section {
    .portfolio__content_container {
      .portfolio__content,
      .portfolio__content a {
        font-size: 1.4rem;
      }
      .portfolio__projects {
        .portfolio__project {
          padding: 1rem;
          .project__caption,
          .project__caption a,
          .project__caption b {
            font-size: 1.2rem;
            line-height: 1.5rem;
          }
          .project__caption {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__section {
    padding-top: 15rem;
    .portfolio__header {
      .portfolio__heading {
        font-size: 2.8rem;
        line-height: 2.8rem;
      }
    }
    .portfolio__content_container {
      .portfolio__content,
      .portfolio__content a {
        font-size: 1.6rem;
        line-height: 3.2rem;
      }
      .portfolio__projects {
        padding-top: 2rem;
        .portfolio__project {
          .project__heading {
            font-size: 2.4rem;
            line-height: 2.4rem;
          }
          .project__caption,
          .project__caption a,
          .project__caption b {
            font-size: 1.2rem;
            line-height: 1.6rem;
          }
          .project__caption {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1536px) {
  .portfolio__section {
    .portfolio__header {
      .portfolio__heading {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    .portfolio__content_container {
      .portfolio__content,
      .portfolio__content a {
        font-size: 2.2rem;
        line-height: 3.5rem;
      }
      .portfolio__projects {
        .portfolio__project {
          .project__heading {
            font-size: 3.2rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .portfolio__section {
    width: 70%;
  }
}
