:root {
  --grey: #808080;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2.8rem;
  --content-font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .skills__section {
    border-bottom: 0.2rem solid var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto;
    padding: 15rem 0 3.5rem;
    width: 80%;
  }
  .skills__section .skills__header .skills__heading {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
  }
  .skills__section .skills__content_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 4rem;
  }
  .skills__section .skills__content_container .skills__content {
    font-size: var(--content-font-size);
    line-height: 2.4rem;
  }
  .skills__section .skills__content_container .skills__full_stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0;
    text-align: center;
  }
  .skills__section .skills__content_container .skills__full_stack .skills__front_end,
  .skills__section .skills__content_container .skills__full_stack .skills__back_end {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1.5rem 0;
  }
  .skills__section .skills__content_container .skills__full_stack .skills__front_end .skills__stack_heading,
  .skills__section .skills__content_container .skills__full_stack .skills__back_end .skills__stack_heading {
    font-family: var(--heading-font-family);
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .skills__section .skills__content_container .skills__full_stack .skills__front_end .skills__stack_logos .skills__stack_logo,
  .skills__section .skills__content_container .skills__full_stack .skills__back_end .skills__stack_logos .skills__stack_logo {
    height: auto;
    padding: 1rem;
    width: 8rem;
  }
}
/*# sourceMappingURL=Skills.css.map */