:root {
  --grey: #808080;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2.8rem;
  --content-font-size: 1.6rem;
}

$grey: var(--grey);
$default-font-family: var(--default-font-family);
$default-font-size: var(--default-font-size);
$heading-font-family: var(--heading-font-family);
$heading-font-size: var(--heading-font-size);
$content-font-size: var(--content-font-size);

* {
  box-sizing: border-box;
  font-family: $default-font-family;
  font-size: $default-font-size;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .skills__section {
    border-bottom: 0.2rem solid $grey;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 15rem 0 3.5rem;
    width: 80%;
    .skills__header {
      .skills__heading {
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        line-height: 4.2rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .skills__content_container {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding-top: 4rem;
      .skills__content {
        font-size: $content-font-size;
        line-height: 2.4rem;
      }
      .skills__full_stack {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 5rem 0;
        text-align: center;
        .skills__front_end,
        .skills__back_end {
          flex: 1;
          padding: 1.5rem 0;
          .skills__stack_heading {
            font-family: $heading-font-family;
            font-size: 2.4rem;
            line-height: 2.4rem;
          }
          .skills__stack_logos {
            .skills__stack_logo {
              height: auto;
              padding: 1rem;
              width: 8rem;
            }
          }
        }
      }
    }
  }
}
