:root {
  --grey: #808080;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 3.2rem;
  --content-font-size: 1.6rem;
  --box-shadow: 10px 10px 25px #808080;
}

$grey: var(--grey);
$font-family: var(--default-font-family);
$font-size: var(--default-font-size);
$heading-font-family: var(--heading-font-family);
$heading-font-size: var(--heading-font-size);
$content-font-size: var(--content-font-size);
$box-shadow: var(--box-shadow);

* {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .hero__section {
    border-bottom: 0.2rem solid $grey;
    margin: 0 auto;
    padding: 15rem 0 3.5rem;
    width: 80%;
    .hero__header {
      .hero__heading {
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        line-height: 4.2rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .hero__content {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding-top: 4rem;
      .hero__img_container {
        justify-content: center;
        .hero__img {
          border-radius: 0.5rem;
          box-shadow: $box-shadow;
          height: auto;
          width: 20rem;
        }
      }
      .hero__about_container {
        padding-top: 2rem;
        .hero__about_content {
          font-size: $content-font-size;
          line-height: 2.4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .hero__section {
    padding-top: 8rem;
  }
}
