:root {
  --height: 60px;
  --blue: #0049e8e7;
  --grey: #808080;
  --lightgrey: #b6b6b6;
  --orange: #ff7200;
  --white: #e5f2ee;
  --default-font-family: "Monda", sans-serif;
  --default-font-size: 62.5%;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2rem;
  --content-font-size: 1.8rem;
  --box-shadow: 10px 10px 25px #808080;
  --text-shadow: 10px 10px 25px #000;
}

$height: var(--height);
$blue: var(--blue);
$grey: var(--grey);
$lightgrey: var(--lightgrey);
$orange: var(--orange);
$white: var(--white);
$font-family: var(--default-font-family);
$font-size: var(--default-font-size);
$font-heading: var(--heading-font-family);
$content-font-size: var(--content-font-size);
$box-shadow: var(--box-shadow);
$text-shadow: var(--text-shadow);

* {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

// TODO: separate the font style, size, color and background color outside the media query

@media screen and (min-width: 320px) {
  .site__header {
    background-color: $orange;
    box-shadow: $box-shadow;
    min-height: fit-content;
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    .navbar {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 auto;
      width: 85%;
      .navbar__heading {
        color: #fff;
        flex: 1;
        font-family: $font-heading;
        font-size: 1.8rem;
        line-height: 2rem;
      }
      .navbar__nav {
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        list-style-type: none;
        text-align: right;
        .navbar__list_item,
        .navbar__nav_hamburger {
          color: #fff;
          font-size: 1.2rem;
          line-height: 1.2rem;
          text-decoration: none;
        }
        .navbar__list_item {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .site__header {
    .navbar {
      .navbar__heading {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
      .navbar__nav {
        display: flex;
        .navbar__nav_hamburger {
          display: none;
        }
        .navbar__list_item {
          display: inline;
          text-align: right;
          padding: 0 0.5rem;
        }

        .navbar__list_item:hover {
          color: $blue;
          display: inline;
          text-shadow: $text-shadow;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .site__header {
    .navbar {
      .navbar__heading {
        font-size: 3.2rem;
        line-height: 3.6rem;
      }
    }
  }
}
