:root {
  --blue: #0049e8e7;
  --content-font-size: 1.2rem;
  --default-font-size: 62.5%;
  --default-font-family: "Monda", sans-serif;
  --heading-font-family: "Economica", sans-serif;
  --heading-font-size: 2rem;
  --orange: #ff7200;
  --text-shadow: 10px 10px 25px #000;
  --white: #e5f2ee;
}

$blue: var(--blue);
$box-shadow: var(--box-shadow);
$content-font-size: var(--content-font-size);
$default-font-family: var(--default-font-family);
$default-font-size: var(--default-font-size);
$grey: var(--grey);
$heading-font-family: var(--heading-font-family);
$orange: var(--orange);
$text-shadow: var(--text-shadow);
$white: var(--white);

* {
  box-sizing: border-box;
  position: relative;
  font-family: $default-font-family;
  font-size: $default-font-size;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  .site__footer {
    background-color: $orange;
    padding: 2rem 0;
    text-align: center;
    .site__footer_content,
    a {
      color: $white;
      font-family: $heading-font-family;
      font-size: $content-font-size;
      letter-spacing: 0.05rem;
      text-decoration: none;
      word-spacing: 0.1rem;
    }
    a:hover {
      color: $blue;
      text-shadow: $text-shadow;
    }
  }
}

@media screen and (min-width: 480px) {
  .site__footer {
    .site__footer_content,
    .site__footer_content a {
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .site__footer {
    .site__footer_content,
    .site__footer_content a {
      font-size: 1.6rem;
      line-height: 1.6rem;
      padding: 1.5rem 0;
    }
  }
}

@media screen and (min-width: 1536px) {
  .site__footer {
    .site__footer_content,
    .site__footer_content a {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
}

@media screen and (min-width: 1700px) {
  .site__footer {
    .site__footer_content,
    .site__footer_content a {
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
  }
}
